* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 140vh;
  width: 100vw;
  font-family: 'Roboto Mono',monospace;
  color: #2cd4d9;
  overflow-x: hidden;
  background: linear-gradient(68.15deg, #0047b5 16.62%, #39a0ed  85.61%);
  text-align: center;
}
header {
  background: #1b4079;
  border-bottom: 0.4px solid #FFF2E7;
}

a {
  text-decoration: none;
  color: #fff;
}

.logos {
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-logo {
  padding-left: 1rem;
  width: 12.5rem;
}
  
.alura-logo {
  padding-right: 1rem;
  width: 2.5rem;
}

main {
  text-align: center;
  height: 100vh;
}

.Calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 15px;
}

button {
  background-color: #ffa500;
  height: 50px;
  width: 50px;
  font-size: 25px;
  margin: 3px;
}
button:hover {
  background-color: #bd7b02;
}

#igual {
  height: 106px;
}

#zero {
  width: 106px;
}

#resultado {
  background-color: white;
  width: 224px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
}

footer {
  position: absolute;
  bottom: -40vh;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  border-top: 0.4px solid #FFF2E7;
  background: #111;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 1rem;
}

.footer-content p {
  max-width: 500px;
  margin: 5px auto;
  line-height: 28px;
  font-size: 18px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;
  font-size: 40px;
}

.socials a:hover i {
  color: aqua;
}
